<div class="navbar">
  <nav>
    <div class="row nav-wrapper">
      <!-- <a href='#'><img id='logo' src='./logo.png'></a> -->
      <ul class="right hide-on-small-and-down">
        <li id='fresh' ng-click='fresh()'><a href="/#">Fresh</a>
        </li>
        <li id='popular' ng-click='popular()'><a href="/#">Popular</a>
        </li>
        <li id='top' ng-click='top()' class="active"><a href="/#">Top</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div id='videoPage'>
  <canvas id='c'></canvas>
</div>
<div id="chatModal" class="modal">
  <div class="modal-content">
    <ul id="messages"></ul>
    <form id='chatForm' action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
  </div>
</div>
