<div class="navbar">
  <nav>
    <div class="row nav-wrapper">
      <!-- <a href='#'><img id='logo' src='./logo.png'></a> -->
      <ul class="right hide-on-small-and-down">
        <li id='fresh' ng-click='fresh()'><a href="/#">Fresh</a>
        </li>
        <li id='popular' ng-click='popular()'><a href="/#">Popular</a>
        </li>
        <li id='top' ng-click='top()' class="active"><a href="/#">Top</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div id='videoPage'>
  <canvas id='myCanvas'></canvas>
  <video id='playing' class="responsive-video" controls autoplay>
    <source ng-src="{{getSource()}}" type="video/mp4">
  </video>
  <a ng-click='prev()' id='previous' class="video-nav-button waves-effect waves-light btn red darken-4">
    <i class="material-icons left">arrow_back</i>
  </a>
  <a ng-click='create()' id='create' class="video-nav-button waves-effect waves-light btn red darken-4">Create Session
  </a>
  <a ng-click='next()' id='next' class="video-nav-button waves-effect waves-light btn red darken-4">
    <i class="material-icons left">arrow_forward</i>
  </a>
</div>

<div id="chatModal" class="modal">
  <div class="modal-content">
    <ul id="messages"></ul>
    <form id='chatForm' action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
  </div>
</div>
