#logo {
  max-height: 100%;
  float: left;
}

.nav-wrapper {
  background: linear-gradient(to right, #BE0000 15%, white 90%);
}

.right li a {
  color: #303030;
  font-weight: bold;
}

.card {
  display: inline-block;
  width: 20%;
}

.linkText, .revealedLinkText {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.titleText {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 0px;
}

.card-title .material-icons {
  margin-left: 0px;
}

.revealedTitle {
  font-size: .85em;
  height: 2em;
}
.revealedLinkText {
  width: 85%;
}

.thumb {
  font-size: 1.3em;
}

#videoPage {
  width: 100%;
  background-color: black;
}

#playing {
  width: 90%;
  margin: 2% 5% 0px 5%;
}

.video-nav-button {
  width: 6%;
  background-color: #873E3E;
}

#previous {
  margin-left: 36%;
}

#next {
}

#create {
  width: 14%;
}

.search-radio {
  float: left;
}

.search-radio label{
  padding-left: 25px !important;
}

#torrent-search {
  margin-right: 15px;
  margin-left: 11.5%;
}

#searchSubmit {
  display: none;
}

#myCanvas {
    display: none;
}

#c {
  width: 60%;
  margin: 5% 20% 0px 20%;
}

#chatModal{
  position: absolute !important;
  top: 15% !important;
  left: 0% !important;
  width: 15%;
}